<footer class="row bg-info">
    <div class="col-6">
        <figure>
            <blockquote class="blockquote">
                <p>A well-known quote, contained in a blockquote element.</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                Someone famous in <cite title="Source Title">Source Title</cite>
            </figcaption>
        </figure>
    </div>
    <div class="col-6">
        <ul>
            <li>lien1</li>
            <li>lien2</li>
            <li>lien3</li>
        </ul>
    </div>
</footer>
</div>
</body>
</html>