<main class="row bg-primary text-secondary py-4">
    <div class="d-flex align-items-start col-2">
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <button class="nav-link active text-secondary" id="v-pills-index-tab" data-bs-toggle="pill" data-bs-target="#v-pills-index" type="button" role="tab" aria-controls="v-pills-index" aria-selected="true"><a href="/">Accueil</a></button>
            <button class="nav-link text-secondary" id="v-pills-creation-tab" data-bs-toggle="pill" data-bs-target="#v-pills-creation" type="button" role="tab" aria-controls="v-pills-creation" aria-selected="false"><a href="/creation">Créer un personnage</a></button>
            <button class="nav-link text-secondary" id="v-pills-personnages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-personnages" type="button" role="tab" aria-controls="v-pills-personnages" aria-selected="false"><a href="/personnages">Liste des personnages</a></button>
            <button class="nav-link text-secondary" id="v-pills-defaut-tab" data-bs-toggle="pill" data-bs-target="#v-pills-defaut" type="button" role="tab" aria-controls="v-pills-defaut" aria-selected="false"><a href="/defaut">Personnage par defaut</a></button>
            <button class="nav-link text-secondary" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Bonus</button>
        </div>
    </div>