$primary: black;
$secondary: white;
$success: orange;
$form-range-thumb-active-bg: orange;
$form-range-thumb-bg: orange;
$form-check-input-checked-bg-color: orange;

@import 'node_modules/bootstrap/scss/bootstrap.scss';