<%- include('./partials/menu') %>

<div class="alert alert-primary mt-3" role="alert">
    Ceci est le personnage par défaut!<br>Vous pouvez vous en créer un sur mesure!
</div>

<h1>Personnage créé<br>par défaut</h1>
<div class="row">
    <div class="col-lg-8">
        <table class="table table-dark table-striped">
        <thead>
        <tr>
        <th scope="col">Caractéristiques</th>
        <th scope="col">Données et statistiques</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td scope="col">Nom :</td>
        <td scope="col">Son Goku</td>
        </tr>
        <tr>
        <td scope="col">Race :</td>
        <td scope="col">Saiyan</td>
        </tr>
        <tr>
        <td scope="col">Capacité unique :</td>
        <td scope="col">10% plus de dégat</td>
        </tr>
        <tr>
        <td scope="col">Attaque :</td>
        <td scope="col">5/10</td>
        </tr>
        <tr>
        <td scope="col">Défence :</td>
        <td scope="col">5/10</td>
        </tr>
        <tr>
        <td scope="col">Santé :</td>
        <td scope="col">5/10</td>
        </tr>
        <tr>
        <td scope="col">Vitesse :</td>
        <td scope="col">5/10</td>
        </tr>
        </tbody>
        </table>
    </div>
    <div class="col-lg-4">
        <img class="m-3" src="images/goku.png" alt="Son Goku">
    </div>
</div>
