<%- include('./partials/menu') %>

    <h1>Liste des<br>personnages créés</h1>
    <div class="animation row">
        <div class="card bg-primary col-10 col-md-5 col-lg-2 p-0 m-3">
            <img src="images/kidbuu.jpeg" class="card-img-topstretched-link"  alt="image de kid buu">
            <div class="card-body">
                <h2 class="card-title"><a href="#" class="stretched-link text-primary">Kid Buu</a></h2>
                <label for="customRange2" class="form-label">Attaque : 2</label>
                <input disabled aria-label="range input 1" type="range" class="form-range" min="0" max="10"  value="2" id="customRange2">
                <label for="customRange2" class="form-label">Défence : 8</label>
                <input disabled aria-label="range input 2" type="range" class="form-range" min="0" max="10" value="8" id="customRange2">
                <label for="customRange2" class="form-label">Santé : 6</label>
                <input disabled aria-label="range input 3" type="range" class="form-range" min="0" max="10" value="6" id="customRange2">
                <label for="customRange2" class="form-label">Vitesse : 4</label>
                <input disabled aria-label="range input 4" type="range" class="form-range" min="0" max="10" value="4" id="customRange2">
            </div>
        </div>
        <div class="card bg-primary col-10 col-md-5 col-lg-2 p-0 m-3">
            <img src="images/broly.jpeg" class="card-img-top" alt="image de broly">
            <div class="card-body">
                <h2 class="card-title"><a href="#" class="stretched-link text-primary">Goku</a></h2>
                <label for="customRange2" class="form-label">Attaque : 9</label>
                <input disabled aria-label="range input 1" type="range" class="form-range" min="0" max="10" value="9" id="customRange2">
                <label for="customRange2" class="form-label">Défence : 3</label>
                <input disabled aria-label="range input 2" type="range" class="form-range" min="0" max="10" value="3" id="customRange2">
                <label for="customRange2" class="form-label">Santé : 5</label>
                <input disabled aria-label="range input 3" type="range" class="form-range" min="0" max="10" value="5" id="customRange2">
                <label for="customRange2" class="form-label">Vitesse : 7</label>
                <input disabled aria-label="range input 4" type="range" class="form-range" min="0" max="10" value="7" id="customRange2">
            </div>
        </div>
        <div class="card bg-primary col-10 col-md-5 col-lg-2 p-0 m-3">
            <img src="images/cell.jpeg" class="card-img-top" alt="image de cell">
            <div class="card-body">
                <h2 class="card-title"><a href="#" class="stretched-link text-primary">Cell</a></h2>
                <label for="customRange2" class="form-label">Attaque : 6</label>
                <input disabled aria-label="range input 1" type="range" class="form-range" min="0" max="10" value="6" id="customRange2">
                <label for="customRange2" class="form-label">Défence : 3</label>
                <input disabled aria-label="range input 2" type="range" class="form-range" min="0" max="10" value="3" id="customRange2">
                <label for="customRange2" class="form-label">Santé : 6</label>
                <input disabled aria-label="range input 3" type="range" class="form-range" min="0" max="10" value="6" id="customRange2">
                <label for="customRange2" class="form-label">Vitesse : 7</label>
                <input disabled aria-label="range input 4" type="range" class="form-range" min="0" max="10" value="7" id="customRange2">
            </div>
        </div>
        <div class="card bg-primary col-10 col-md-5 col-lg-2 p-0 m-3">
            <img src="images/vegeta.jpeg" class="card-img-top" alt="image de vegeta">
            <div class="card-body ">
                <h2 class="card-title"><a href="#" class="stretched-link text-primary">Vegeta</a></h2>
                <label for="customRange2" class="form-label">Attaque : 8</label>
                <input disabled aria-label="range input 1" type="range" class="form-range color-success" min="0" max="10" value="8" id="customRange2">
                <label for="customRange2" class="form-label">Défence : 4</label>
                <input disabled aria-label="range input 2" type="range" class="form-range" min="0" max="10" value="4" id="customRange2">
                <label for="customRange2" class="form-label">Santé : 1</label>
                <input disabled aria-label="range input 3" type="range" class="form-range" min="0" max="10" value="1" id="customRange2">
                <label for="customRange2" class="form-label">Vitesse : 7</label>
                <input disabled aria-label="range input 4" type="range" class="form-range" min="0" max="10" value="7" id="customRange2">
            </div>
        </div>      
    </div>
